python-dotenv>=1.0.1          # Для безопасной загрузки токенов и ключей из .env файла

fastapi # Фреймворк для создания вашего внутреннего API
uvicorn[standard] # Быстрый ASGI-сервер для запуска FastAPI
transformers # Библиотека от Hugging Face для запуска дообученных моделей
torch # PyTorch (основной движок для трансформеров)
pydantic # Для валидации данных в FastAPI (обычно ставится сам)
